/* 头部样式开始 */
.header{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
}
 
.header img{
    height: 120px;
    /* 图片，以中间开始渲染 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* 头部样式结束 */
 
/* 黑色导航样式开始 */
/* 黑色背景容器主体，设置宽高，设置行高，设置背景色，设置文字大小 */
.black-nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    font-size: 12px;
}
/* 设置内容居中和宽度 */
.wrap{
    width: 1226px;
    margin: 0 auto;
}
/* 设置左导航整体往往左浮动 */
.black-nav-left{
    float: left;
}
/* 设置右导航整体往右浮动 */
.black-nav-right{
    float: right;
}
/* 设置两个导航栏里面的列表左浮动，相对定位 */
.black-nav li{
    float: left;
    position: relative;
}
/* 设置超链接文本颜色 */
.black-nav a{
    color: #b0b0b0;
}
/* 设置超链接旁边连接符的颜色和边距 */
.black-nav span{
    color: #424242;
    margin: 0 3.6px;
}
/* 设置下载APP超链接下的图片块效果 */
.download{
    /* 设定宽高、背景色以及绝对定位，离左边的距离和上边的距离 */
    width: 124px;
    height: 0;
    background: #fff;
    /* 有阴影效果 */
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    /* 调整图片块的位置 */
    margin-left: -62px;
    overflow:hidden;
    /* 过渡效果 */
    transition: all 0.3s;
}
/* 设置图片宽度，调整图片内边距 */
.download img{
    width: 90px;
    margin: 18px auto 0;
}
/* 设置图片下面的文字背景、字体大小和行高 */
.download p{
    color: #333;
    font-size: 14px;
    line-height: 14px;
}
/* 鼠标悬停的效果 
具体的大小可以自己调定*/
.black-nav-left li:hover>.download{
    height: 140px;
}
/* 添加箭头，宽高设置为0，边框设置
绝对定位，设置居中 */
.stri{
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position:absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    display: none;
}
.black-nav-left>li:hover>.stri{
    display: block;
}
/* 购物车滑下去的效果设置，宽高背景色，边距，相对定位 */
.cart{
    width: 120px;
    height: 40px;
    background: #424242;
    margin-left: 25px;
    position: relative;
}
/* 设置鼠标悬停在购物车上的背景色，为白色 */
.cart:hover{
    background: #fff;
}
/* 设置超链接文本为橘色 */
.cart:hover>a{
    color: #ff6700;
}
/* 设置购物车文本样式正常，右边距为8px */
.cart i{
    font-style: normal;
    margin-right: 8px;
}
/* 设置“购物车中还没有商品，赶紧选购吧”的块结构的宽高背景色，阴影效果等 */
.cart-list{
    width: 316px;
    height: 0;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    position: absolute;
    right: 0;
    top: 40px;
    color: #424242;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 100px;
}
/* 当鼠标悬停在购物车上时会出现“购物车中还没有商品，赶紧选购吧”的提示 */
.cart:hover>.cart-list{
    height: 100px;
} 
/* 黑色导航样式结束 */

/* 白色导航样式开始 */
/* 设置白色导航主体容器宽高北京和绝对定位 */
.white-nav{
    width: 100%;
    height: 100px;
    background: #fff;
    position: relative;
}
/* 设置logo图标模块的宽高、背景色，左浮动等 */
.logo{
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  float: left;
  margin-top: 22.5px;
  position: relative;
  overflow: hidden;
}
.logo>img{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    transition: all 0.2s;
}
.mi-home{
    left: -55px;
}
.mi-logo{
    left: 0;
}
.logo:hover>.mi-home{
    left: 0;
}
.logo:hover>.mi-logo{
    left: 55px;
}
.nav-bar{
    width: 875px;
    height: 100px;
    line-height: 100px;
    float: left;
}
.search{
    width: 296px;
    height: 100px;
    float: right;
}
.nav-bar li{
    float: left;
}
.nav-bar>ul>li>a{
    color: #333;
    padding: 0 10px;
}

.nav-bar>ul>li>a:hover{
    color: #ff6700;
}

.nav-bar>ul>li:first-child img{
    margin-top: 22.5px;
}
/* 设置搜索栏的宽高，边框样式等等 */
.search input{
    width: 244px;
    height: 50px;
    border:1px solid #e0e0e0;
    margin-top: 25px;
    /* 去掉选中的边框 */
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: 0;
}
/* 完善搜索栏旁边的搜索按钮，设置宽高背景色等 */
.search button{
    width: 52px;
    height: 50px;
    background: #fff;
    border:1px solid #e0e0e0;
    float: right;
    margin-top: 25px;
}
/* 使搜索栏旁边的搜索按钮，鼠标悬停在上面有橘色背景色等 */
.search button:hover{
    background: #ff6700;
    color: #fff;
}
/* 设置鼠标悬停在小米手机上会出现的内容板块 */
.nav-bar-list{
    width: 100%;
    height: 229px;
    background: #fff;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
}
/* 设置悬停在小米手机上的内容为块 */
.nav-bar li:hover .nav-bar-list{
    display: block;
}
/* 设置小米手机下的图片内容模式 */
.img-box{
    width: 100%;
    height: 110px;
    margin-top: 35px;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    margin-bottom: 16px;
}
/* 设置图片之间的边距 */
.nav-bar-list li:last-child .img-box{
    border-right: 0;
}
/* 设置图片下面的文字大小和行高 */
.nav-bar-list p{
    font-size: 12px;
    line-height: 20px;
}
/* 设置小米手机的名字颜色 */
.name{
    color: #333;
}
/* 设置小米手机的价格颜色 */
.price{
    color: #ff6700;
}
/* 白色导航样式结束 */